.btn-back {
	position: absolute;
	bottom: -5rem;
	width: 10rem;
	margin-left: 24% !important;
	padding: 10px 23px;
	background: #fea668;
	border-radius: 30px;
	color: white;
	font-weight: 300;
	font-size: 14px;
	margin: 10px 0;
	transition: all 0.2s ease-in;
	cursor: pointer;
	outline: none;
	border: none;
}

.btn-back:hover {
	background-color: #399e5a;
}

.card {
	position: absolute;
	top: 20rem;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px; /* 5px rounded corners */
	width: 272px;
	color: black;
	text-align: center;
}
.card-text {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	vertical-align: middle;
}

.card:hover {
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
	border-radius: 5px 5px 0 0;
}

.card-holder {
	display: flex;
	position: relative;
}
