.upload-div {
	margin-top: 10rem;
	margin-left: 3rem;
}
.upload {
	width: 99%;
	padding-top: 5rem;
	padding-left: 2rem;
	padding-right: 5rem;
}

.btn-upload {
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #fea668 !important;
	color: #ffff !important;
}

.card-upload {
	position: absolute;
	top: 9rem;
	size: 2px;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: 0.3s;
	border-radius: 5px; /* 5px rounded corners */
	color: #fffcf7;
	text-align: left;
	width: 19rem;
}

.card:hover {
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
	border-radius: 5px 5px 0 0;
}

.card-holder {
	padding-bottom: 3rem;
	display: flex;
	position: relative;
}
